#map {
    height: 70vh;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
  }

.header-img {
    max-width: 30vw;
    max-height: 25vh;
}
/* PLEASE UPDATE */

.inputBox {
    width: 100%;
    height: 5vh;

}

@media (max-width: 767.98px) {
    .inputBox {
        height: 5vh;
    }
 }