/* Set the size of the div element that contains the map */
#map {
    height: 70vh;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
  }

.header-img {
    max-width: 30vw;
}